<link rel="stylesheet" href="/app/pages/orders/directives/orders-directives.css">
<div style="text-align: center">
    <h1 id="masaBroj"></h1><br>
    </h1>

</div>
<div style="margin-top:50px" class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="margin-bottom: 10px;text-align: center;height:auto;background-color: #000000de">
                    <span style="color: #b1b0b0;font-size:30px;"><span class="glyphicon glyphicon-shopping-cart"></span> Артикли</span>
                </div>
                <div>
                    <button 
                    ng-class="{'btn-primary':$index %2==0,'btn-success':$index %2!==0}" 
                    ng-click="orders.addNaracki(artikl.id)" 
                    ng-repeat="artikl in orders.artikli"   
                    style="width:100%;margin-top: 10px" 
                    class="btn btn-lg" 
                    ng-mouseover="orders.hoverIn(artikl)"
                    ng-mouseleave="orders.hoverOut(artikl)">
                        <span ng-if="artikl.status==true">Додај</span>
                        {{artikl.ime}}
                    </button>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="margin-bottom: 10px;text-align: center;height:auto;background-color: #000000de">
                    <span style="font-size:30px;color: #b1b0b0;"><span class="glyphicon glyphicon-list-alt"></span> Нарачка</span>
                </div>
                <div class="row">
                    <div id="narackiPanel" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="panel-body">
                            <div>
                                <li style="background-color:rgb(226, 226, 226) ;list-style-type:none;white-space: nowrap;border:2px solid rgb(255, 255, 255); padding: 5px" 
                                ng-repeat="naracanArtikl in orders.naracki track by $index">
                                    <button type="button" ng-click="orders.deleteArtikl($index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                                    {{naracanArtikl.ime}}
                                    <span style="float:right">
                                    <button type="button" ng-click="orders.decrementArtikl(naracanArtikl.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                    {{naracanArtikl.kolicina}}
                                    <button type="button" ng-click="orders.incrementArtikl(naracanArtikl.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </li><br>
                                <div style="text-align: center"><button type="button" ng-click="" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-euro"></span>
                                    Наплати</button></div>
                            </div>
                        </div>
                        <div>{{naracki.ime}}</div>
                        <div>{{error}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>