<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type='text/html' href="app/pages/login/directives/login-directive.css">
<title>Јонгис нарачки-Најава</title>
<body>
    <div style="text-align:center">
        <h1>Јонгис нарачки v2.0</h1>
        <div class="container" style="text-align:center;margin-top: 150px; width: 500px;padding: 30px;border: 1px ridge rgb(165, 165, 165);background-color: rgb(227, 229, 230)">
            <h1 style="font-size: 25px">Најава</h1><br>
            <form id="loginForm" name="loginForm" autocomplete="off">
                <input type="password" id="code" placeholder="Внесете го вашиот код" ng-model="" class="form-control"
                    minlength="3" maxlength="10" required><br>
                <button type="submit" ng-click="" class="btn btn-success" style="width:100%;margin-bottom: 5px"><span class="glyphicon glyphicon-log-in"></span> Најави се</button>
                <button type="button" ng-click="" class="btn btn-danger" style="width:100%;margin-bottom: 5px"><span class="glyphicon glyphicon-erase"></span> Исчисти</button>
                <button type="button" ng-click="" class="btn btn-primary" style="width:100%"><span class="glyphicon glyphicon-transfer"></span> Побарај код</button>
            </form>
            <img style="width:100px" alt="jongis" src="/jongis.png">
        </div>
        </div>
        
</body>
