<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title>Барање на код</title>
    <div style="text-align:center">
        <h1>Јонгис нарачки v2.0</h1>
        <div class="container" style="text-align:center;margin-top: 150px; width: 500px;padding: 30px;border: 1px ridge rgb(165, 165, 165);background-color: rgb(227, 229, 230)">
            <h1 style="font-size: 25px">Барање на код за најава</h1><br>
            <form id="loginForm" name="loginForm" autocomplete="off">
                <input type="text" id="ime" placeholder="Име" ng-model="" class="form-control" minlength="3" maxlength="10"
                    required><br>
                <input type="text" id="prezime" placeholder="Презиме" ng-model="" class="form-control" minlength="3"
                    maxlength="10" required><br>
                <input type="password" id="code" placeholder="Код" ng-model="" class="form-control" minlength="3"
                    maxlength="10" required><br>
                <button type="submit" ng-click="" class="btn btn-primary" style="width:100%;margin-bottom: 5px"><span class="glyphicon glyphicon-send"></span> Испрати</button>
            </form>
            <img style="width:100px" alt="jongis" src="/jongis.png">
        </div>
        
